.bg-video{
    width: 100%;
    height: 90vh;
    min-height: 90vh;
    object-fit: cover;
}
.title{
    top: 35%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    text-shadow: -10px 10px 5px #808080;
}


/* Features */
.features-box{
    overflow: hidden;
}
.features-box img{
    transition-duration: 0.45s;
}

.features-box:hover img{
    scale: 1.7;
    rotate: 30deg;
}

.message{
    height: 300px;
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.index-blog{
    aspect-ratio: 16/12;
    object-fit: cover;
}

.big-blog{
    width: 100%;
    aspect-ratio: 16/8;
    object-fit: cover;
}

.blog-content::first-letter{
    font-size: 40px;
    font-weight: bold;
}